@charset "utf-8"

@import "settings"
@import "bourbon"
@import "base/base"
@import "neat"


h1
  font:
    weight: 300
    size: 2.8rem
  +media($tablet)
    font-size: 2rem

h3
  font:
    weight: 300
    size: 36px
  line-height: 46px
  margin-bottom: 20px
  +media($tablet)
    font-size: 1.2rem

h4
  font:
    weight: 700
    size: 12px
    family: 'Montserrat', sans-serif
  text-transform: uppercase
  line-height: 1.875rem
  color: $dark-gray

h5
  font:
    size: 20px
    weight: 300
  color: white

p
  font:
    size: 20px
    weight: 300
  line-height: 31px
  color: $medium-gray

br
  +media($tablet)
    display: none

article, .container
  +outer-container
  +media($tablet)
    padding: 0 1rem

.overlay
  background: rgba(0,0,0,0)
  +media($tablet)
    height: 100%
    position: relative
    top: 0
    bottom: 0
    +clearfix
    background: rgba(0,0,0,0.3)

.main-nav
  padding-top: 1.875rem
  box-sizing: border-box
  a
    color: rgba(255,255,255,0.8)
    text-transform: uppercase
    display: inline-block
    font-size: 0.9rem
    &.btn
      background-color: rgba(255,255,255,0.2)
      display: block
      padding: 0.15rem 0.8rem
      border-radius: 6px
      &:hover
        background-color: rgba(255,255,255,0.4)
    &:hover
      color: white
  dl
    margin: 0
    padding: 0
    +outer-container
    +media($tablet)
      padding: 0 1rem
  dd
    margin: 0
    padding: 0
    +span-columns(6)
  ul
    margin: 0
    padding: 0
    list-style: none
    float: right
    li
      display: inline-block
      margin-left: 2rem
      +media($tablet)
        margin-left: 0.5rem

.logo
  width: 6.25rem

.main-hero
  color: white
  background: $dark-blue
  text-align: center
  h1
    margin: 5rem 0 2rem
  figure
    margin-bottom: -0.41rem
    img
      max-width: 55rem
      width: 65vw
  input[type="submit"]
    margin-bottom: 5rem

.features
  padding: 6rem 0 3rem 0
  box-sizing: border-box
  dl
    margin: 0 0 3rem 0
    padding: 0
    +clearfix
    dd
      color: $medium-gray
      font:
        weight: 300
        size: 14px
      padding: 0 40px
      +span-columns(4)
      +media($tablet)
        +span-columns(12)
      header
        line-height: 63px
        h4
          display: inline-block
        i.md
          margin-right: 8px
          &.md-filter-hdr
            color: $purple
          &.md-account-child
            color: $green
          &.md-today
            color: $red
          &.md-speaker-notes
            color: $blue
          &.md-group-add
            color: $yellow
          &.md-gesture
            color: $dark-blue

.single-feature
  padding: 6rem 0 0 0
  box-sizing: border-box
  width: 100%
  ul
    font:
      size: 14px
      weight: 300
    line-height: 31px
    color: $medium-gray
    list-style: disc
    margin-left: 18px
  &.phone
    +outer-container
    article, aside
      +span-columns(6)
    article
      padding: 5rem 5rem 0 0
      box-sizing: border-box
    aside
      line-height: 0
  &.mac
    border-top: 1px solid $light-gray
    border-bottom: 1px solid $light-gray
    article
      height: 476px
      .content
        padding: 5rem 0 0 5rem
        box-sizing: border-box
        +span-columns(6)
        +shift(6)
    aside
      +clearfix
      img
        position: absolute
        right: 51%

.testimonals
  background: $nude
  padding: 6em 0
  box-sizing: border-box
  h3, p
    text-align: center
  h3
    margin-bottom: 10px
  p
    margin-bottom: 45px
  ul
    padding: 4em 1.5em
    box-sizing: border-box
    text-align: center
    background: white
    border-radius: 6px
    +dropshadow
    +span-columns(4)
    +media($tablet)
      +span-columns(12)
      margin-bottom: 30px
    li
      font:
        size: 14px
        weight: 300
      line-height: 22px
      color: $medium-gray
      img
        border-radius: 50%
        height: 96px
        margin-bottom: 20px
      a
        color: $blue
        margin-bottom: 20px
        display: block
        &:hover
          color: $dark-blue
      span
        font:
          size: 24px
          weight: 300
        color: $dark-gray
        margin-bottom: 8px
        display: block

.hiring
  padding: 4rem 0
  background: $dark-gray
  +clearfix
  article
    h5
      margin-bottom: 20px
    p
      font-size: 14px
      line-height: 22px
    +span-columns(9)
    +media($tablet)
      +span-columns(12)
  aside
    .button
      width: 100%
      text-align: center
    +span-columns(3)
    +media($tablet)
      +span-columns(12)

.hero
  background-image: url(../images/girl-tablet.jpg)
  background-position: top center
  color: white
  height: 38rem
  +cover
  dl
    margin: 0
    padding: 8rem 0 0 0
    dd
      +span-columns(5)
      +shift(7)
      +media($tablet)
        +span-columns(12)
        +shift(0)
  h3
    margin-bottom: .8rem
  p
    font-size: 14px
    line-height: 22px
    margin-bottom: 0
    color: white
  button
    margin-top: 3rem
    width: 100%
    text-align: center

.footer
  text-align: center
  color: lighten($medium-gray, 12%)
  padding: 2rem
  ul
    margin: 0
    padding: 0
    list-style: none
    li
      display: inline-block
