@charset "utf-8"

@import "settings"
@import "bourbon"
@import "base/base"
@import "neat"


h1
  font:
    weight: 300
    size: 2.8rem
  +media($tablet)
    font-size: 2rem

h3
  font:
    weight: 300
    size: 36px
  line-height: 46px
  margin-bottom: 20px
  +media($tablet)
    font-size: 1.2rem

h4
  font:
    weight: 700
    size: 12px
    family: 'Montserrat', sans-serif
  text-transform: uppercase
  line-height: 1.875rem
  color: $dark-gray

h5
  font:
    size: 20px
    weight: 300
  color: white

p
  font:
    size: 20px
    weight: 300
  line-height: 31px
  color: $medium-gray

br
  +media($tablet)
    display: none

article, .container
  +outer-container
  +media($tablet)
    padding: 0 1rem

.overlay
  background: rgba(0,0,0,0)
  +media($tablet)
    height: 100%
    position: relative
    top: 0
    bottom: 0
    +clearfix
    background: rgba(0,0,0,0.3)

.main-nav
  padding-top: 1.875rem
  box-sizing: border-box
  a
    color: rgba(255,255,255,0.8)
    text-transform: uppercase
    display: inline-block
    font-size: 0.9rem
    &.btn
      background-color: rgba(255,255,255,0.2)
      display: block
      padding: 0.15rem 0.8rem
      border-radius: 6px
      &:hover
        background-color: rgba(255,255,255,0.4)
    &:hover
      color: white
  dl
    margin: 0
    padding: 0
    +outer-container
    +media($tablet)
      padding: 0 1rem
  dd
    margin: 0
    padding: 0
    +span-columns(6)
  ul
    margin: 0
    padding: 0
    list-style: none
    float: right
    li
      display: inline-block
      margin-left: 2rem
      +media($tablet)
        margin-left: 0.5rem

.logo
  width: 6.25rem

.main-hero
  color: white
  background: $dark-blue
  text-align: center
  h1
    margin: 5rem 0 2rem
  figure
    // margin-bottom: -0.41rem
    position: relative
    height: 65vh
    // max-height: 483px
    img
      position: absolute
      left: 0
      right: 0
      margin: 0 auto
      &.dashboard-img
        width: 91%
        left: 2px
        top: 51px
  input[type="submit"]
    margin-bottom: 5rem

.feedback-img
  background: url(/images/feedback-hover.png) no-repeat center center
  background-size: contain
  position: absolute
  width: 259px
  height: 531px
  left: 572px
  top: 166px
  opacity: 0
  -webkit-animation: fadeIn ease-in 1
  -moz-animation: fadeIn ease-in 1
  animation: fadeIn ease-in 1
  -webkit-animation-duration: 3s
  -moz-animation-duration: 3s
  animation-duration: 3s
  -webkit-animation-delay: 1s
  animation-delay: 1s

.candidates-img
  background: url(/images/candidates.png) no-repeat center center
  background-size: contain
  position: absolute
  width: 244px
  height: 348px
  left: 580px
  top: 212px
  -webkit-animation: movedown 2s
  -webkit-animation-iteration-count: 1
  animation: movedown 1s
  -webkit-animation-fill-mode: forwards
  -moz-animation-fill-mode: forwards
  animation-fill-mode: forwards
  -webkit-animation-delay: 2s
  animation-delay: 2s

@keyframes movedown
  from
    top: 0px
  to
    top: 200px

@-webkit-keyframes movedown
  from
    top: 200px
  to
    top: 300px

.dashboard-img
  background: url(/images/dashboard.png) no-repeat center center
  background-size: contain
  position: absolute
  width: 990px
  height: 648px
  left: 48px
  top: 51px

.screenshot-img
  background: url(/images/screenshot-bg.png) no-repeat center center
  background-size: contain
  position: absolute
  width: 1088px
  height: 720px
  left: 0
  top: 0

.applied-img
  background: url(/images/applied.png) no-repeat center center
  background-size: contain
  position: absolute
  width: 260px
  height: 531px
  left: 303px
  top: 167px

.sean-default
  background: url(/images/sean-default.png) no-repeat center center
  background-size: contain
  position: absolute
  width: 242px
  height: 531px
  left: 312px
  top: 77px
  opacity: 1
  -webkit-animation: fadeOut ease-out 0
  -moz-animation: fadeOut ease-out 0
  animation: fadeOut ease-out 0
  -webkit-animation-fill-mode: forwards
  -moz-animation-fill-mode: forwards
  animation-fill-mode: forwards
  -webkit-animation-duration: 1s
  -moz-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-delay: 1s
  animation-delay: 1s

.sean-default-in
  background: url(/images/sean-default.png) no-repeat center center
  background-size: contain
  position: absolute
  width: 242px
  height: 531px
  left: 580px
  bottom: 82px
  opacity: 0
  -webkit-animation: fadeIn ease-in 1
  -moz-animation: fadeIn ease-in 1
  animation: fadeIn ease-in 1
  -webkit-animation-fill-mode: forwards
  -moz-animation-fill-mode: forwards
  animation-fill-mode: forwards
  -webkit-animation-duration: 2s
  -moz-animation-duration: 2s
  animation-duration: 2s

.sean-move
  background: url(/images/seans-moving.png) no-repeat center center
  background-size: contain
  position: absolute
  width: 242px
  height: 531px
  left: 312px
  top: 77px
  -webkit-animation: upRight 3s
  animation: upRight 3s
  -webkit-animation-fill-mode: forwards
  -moz-animation-fill-mode: forwards
  animation-fill-mode: forwards

@-webkit-keyframes upRight
  0%, 30%
    left: 312px
    top: 77px
    opacity: 0
  50%
    left: 312px
    top: 77px
    opacity: 1
  100%
    left: 600px
    top: -50px
    opacity: 0

@keyframes upRight
  0%, 30%
    left: 312px
    top: 77px
    opacity: 0
  50%
    left: 312px
    top: 77px
    opacity: 1
  100%
    left: 600px
    top: -50px
    opacity: 0

.features
  padding: 6rem 0 3rem 0
  box-sizing: border-box
  position: relative
  background: white
  dl
    margin: 0 0 3rem 0
    padding: 0
    +clearfix
    +media($tablet)
      &:nth-of-type(1)
        margin-bottom: 0
    dd
      color: $medium-gray
      font:
        weight: 300
        size: 14px
      padding: 0 40px
      +span-columns(4)
      +media($tablet)
        margin-bottom: 60px
        text-align: center
        +span-columns(12)
      header
        line-height: 63px
        h4
          display: inline-block
        i.md
          margin-right: 8px
          &.md-filter-hdr
            color: $purple
          &.md-account-child
            color: $green
          &.md-today
            color: $red
          &.md-speaker-notes
            color: $blue
          &.md-group-add
            color: $yellow
          &.md-gesture
            color: $dark-blue

.single-feature
  padding: 6rem 0 0 0
  box-sizing: border-box
  width: 100%
  +media($tablet)
    padding: 6em 0
  ul
    font:
      size: 14px
      weight: 300
    line-height: 31px
    color: $medium-gray
    list-style: disc
    margin-left: 18px
    +media($tablet)
      list-style: none
  &.phone
    +outer-container
    +media($tablet)
      padding: 6em 0 0 0
    article, aside
      +span-columns(6)
      +media($tablet)
        +span-columns(12)
    article
      padding: 5rem 5rem 0 0
      box-sizing: border-box
      +media($tablet)
        padding: 0
        text-align: center
    aside
      line-height: 0
      figure
        text-align: right
        +media($tablet)
          text-align: center
        img
          height: 50vh
          +media($tablet)
            margin-top: 3rem
            height: 30vh
  &.mac
    border-top: 1px solid $light-gray
    border-bottom: 1px solid $light-gray
    article
      height: 476px
      +media($tablet)
        height: auto
      .content
        padding: 5rem 0 0 5rem
        box-sizing: border-box
        +span-columns(6)
        +shift(6)
        +media($tablet)
          padding: 0
          text-align: center
          +span-columns(12)
          +shift(0)
    aside
      +clearfix
      img
        position: absolute
        right: 51%
        +media($tablet)
          right: auto
          position: relative

.testimonals
  background: $nude
  padding: 6em 0
  box-sizing: border-box
  h3, p
    text-align: center
  h3
    margin-bottom: 10px
  p
    margin-bottom: 45px
  ul
    padding: 4em 1.5em
    box-sizing: border-box
    text-align: center
    background: white
    border-radius: 6px
    +dropshadow
    +span-columns(4)
    +media($tablet)
      +span-columns(12)
      margin-bottom: 30px
    li
      font:
        size: 14px
        weight: 300
      line-height: 22px
      color: $medium-gray
      img
        border-radius: 50%
        height: 96px
        margin-bottom: 20px
      a
        color: $blue
        margin-bottom: 20px
        display: block
        &:hover
          color: $dark-blue
      span
        font:
          size: 24px
          weight: 300
        color: $dark-gray
        margin-bottom: 8px
        display: block

.hiring
  padding: 4rem 0
  background: $dark-gray
  +clearfix
  article
    h5
      margin-bottom: 20px
    p
      font-size: 14px
      line-height: 22px
    display: table-cell
    vertical-align: middle
    +span-columns(9)
    +media($tablet)
      +span-columns(12)
  aside
    .button
      width: 100%
      text-align: center
      margin-top: 20px
    +span-columns(3)
    +media($tablet)
      +span-columns(12)

.hero
  background-image: url(../images/girl-tablet.jpg)
  background-position: top center
  color: white
  height: 38rem
  +cover
  +media($tablet)
    background-position: 24% 100%
  dl
    margin: 0
    padding: 8rem 0 0 0
    dd
      +span-columns(5)
      +shift(7)
      +media($tablet)
        +span-columns(12)
        +shift(0)
  h3
    margin-bottom: .8rem
  p
    font-size: 14px
    line-height: 22px
    margin-bottom: 0
    color: white
  button
    margin-top: 3rem
    width: 100%
    text-align: center

.footer
  text-align: center
  color: lighten($medium-gray, 12%)
  padding: 2rem
  ul
    margin: 0
    padding: 0
    list-style: none
    li
      display: inline-block
