// Font Family
@import url(http://fonts.googleapis.com/css?family=Nunito:400,300,700)

// Colors
$blue: #5AC0E5
$dark-gray: #4A4A4A
$purple: #8085D5
$green: #8ABF7B
$yellow: #FAD162
$red: #F7634B
$medium-gray: #9B9B9B
$light-gray: #EBECED

// Mixins
@mixin cover
  background-repeat: no-repeat
  background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
