<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" sizes="192x192" href="//s3.amazonaws.com/nimble-assets/favicon_192.png">
    <link rel="icon" sizes="128x128" href="//s3.amazonaws.com/nimble-assets/favicon_128.png">
    <link rel="apple-touch-icon" sizes="128x128" href="//s3.amazonaws.com/nimble-assets/favicon_128.png">
    <link rel="apple-touch-icon-precomposed" sizes="128x128" href="//s3.amazonaws.com/nimble-assets/favicon_128.png">
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Nimble HR - Hiring takes time. Let's save you some.</title>

    <%= stylesheet_link_tag "material-design-iconic-font.min.css", "https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css", "normalize", "all" %>
    <!--if lt IE 9script(src="//html5shiv.googlecode.com/svn/trunk/html5.js")-->
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
  <script>
    new WOW().init();
  </script>
</html>
