h1
  font:
    weight: 300
    size: 2.8rem

h3
  font:
    weight: 300
    size: 36px
  line-height: 46px
  margin-bottom: 20px

h4
  font:
    weight: 700
    size: 12px
    family: 'Montserrat', sans-serif
  text-transform: uppercase
  line-height: 1.875rem
  color: $dark-gray

h5
  font:
    size: 20px
    weight: 300
  color: white

p
  font:
    size: 20px
    weight: 300
  line-height: 31px
  color: $medium-gray

a
  text-decoration: none
  color: $medium-gray

small
  font:
    size: 10px
    weight: 300

.content
  header
    text-align: center
    margin-bottom: 45px
    background: $dark-blue
    padding: 0 0 60px 0
    box-sizing: border-box
    h1
      font:
        weight: 300
      color: white
      margin-bottom: 0
    small
      color: white
  article
    +column(6)
    float: none
    display: block
    margin: 0 auto
    padding: 0 0 60px 0
    p, ol > li
      font:
        size: 14px
        weight: 200
    ol > li
      margin-bottom: 15px
      line-height: 31px

@media (max-width: 960px)
  h1
    font-size: 2em
  h3
    font-size: 1.5em
  p
    font-size: 1em
  .content
    article
      +column(12)
      padding: 0 10px 60px 10px
      box-sizing: border-box
