%section.features
  %article
    %dl
      %dd
        %header
          %i.md.md-filter-hdr.md-3x
          %h4 Analytics and Reporting
        Curabitur x leo ut lectus consectetur vehicula. Proin molestie, nunc nec rutrum luctus.
      %dd
        %header
          %i.md.md-account-child.md-3x
          %h4 Sourcing
        Curabitur x leo ut lectus consectetur vehicula. Proin molestie, nunc nec rutrum luctus.
      %dd
        %header
          %i.md.md-today.md-3x
          %h4 Interview Scheduling
        Curabitur x leo ut lectus consectetur vehicula. Proin molestie, nunc nec rutrum luctus.
    %dl
      %dd
        %header
          %i.md.md-speaker-notes.md-3x
          %h4 Real-Time Communication
        Curabitur x leo ut lectus consectetur vehicula. Proin molestie, nunc nec rutrum luctus.
      %dd
        %header
          %i.md.md-group-add.md-3x
          %h4 Unlimited User Accounts
        Curabitur x leo ut lectus consectetur vehicula. Proin molestie, nunc nec rutrum luctus.
      %dd
        %header
          %i.md.md-gesture.md-3x
          %h4 Track and Rate Candidates
        Curabitur x leo ut lectus consectetur vehicula. Proin molestie, nunc nec rutrum luctus.
