%footer.footer
  %article
    %ul
      %li
        %a{href: "https://angel.co/nimble-hr", target: "_blank"}
          = image_tag "icon-angelist.svg"
      %li
        %a{href: "https://www.facebook.com/nimblehr", target: "_blank"}
          = image_tag "icon-fb.svg"
      %li
        %a{href: "https://twitter.com/nimble_hr", target: "_blank"}
          = image_tag "icon-twitter.svg"
    %p  &#169; 2015 Nimble Hr.
