%section.hiring
  .container
    %article
      %h5 We’re hiring. Help us reinvent how modern businesses grow amazing teams.
      %p
        Curabitur sit amet laoreet orci. Curabitur sollicitudin quam at justo luctus, vel aliquam mauris aliquet.
        %br
        Quisque tempus sollicitudin nisl quis ullamcorper. Etiam convallis elementum metus ut pretium
    %aside
      = link_to "Apply", "#", class: "button secondary"
