%section.single-feature.phone
  %article
    %h3.wow.fadeInLeft{"data-wow-delay" => "1s"} Customizable jobs page
    %p.wow.fadeInLeft{"data-wow-delay" => "1s"} Curabitur quis leo ut lectus consectetur vehicula. Proin molestie, nunc nec rutrum luctus.
    %ul.wow.fadeInLeft{"data-wow-delay" => "1s"}
      %li Curabitur quis leo ut lectus consectetur
      %li Curabitur quis leo ut lectus consectetur
      %li Curabitur quis leo ut lectus consectetur
  %aside
    %figure
      = image_tag "iphone.svg"
