%section.single-feature.phone
  .container
    %article.wow.fadeInLeft{"data-wow-delay" => "1s"}
      %h3 Customizable jobs page
      %p Curabitur quis leo ut lectus consectetur vehicula. Proin molestie, nunc nec rutrum luctus.
      %ul
        %li Curabitur quis leo ut lectus consectetur
        %li Curabitur quis leo ut lectus consectetur
        %li Curabitur quis leo ut lectus consectetur
    %aside
      %figure
        = image_tag "iphone.svg"
