%section.single-feature.mac
  %aside
    %figure
      = image_tag "macbook.svg"
  %article
    .content
      %h3 Real-time collaboration and communication with your team
      %p Curabitur quis leo ut lectus consectetur vehicula. Proin molestie, nunc nec rutrum luctus.
      %ul
        %li Curabitur quis leo ut lectus consectetur
        %li Curabitur quis leo ut lectus consectetur
        %li Curabitur quis leo ut lectus consectetur
