%section.single-feature.mac
  %aside
    %figure
      = image_tag "macbook.svg"
  %article
    .content.wow.fadeInRight{"data-wow-delay" => "1s"}
      %h3 Post to over 2000+ job boards with a click
      %p Curabitur quis leo ut lectus consectetur vehicula. Proin molestie, nunc nec rutrum luctus.
      %ul
        %li Curabitur quis leo ut lectus consectetur
        %li Curabitur quis leo ut lectus consectetur
        %li Curabitur quis leo ut lectus consectetur
