%nav.main-nav
  .container
    %dl
      %dd
        .logo
          = image_tag "nimble.svg"
      %dd
        %ul
          %li
            %a{href: ""} Login
          %li
            %a.btn{href: ""}
              Signup
